.container{
  display:flex;
  justify-content: flex-left;
  marginTop: 20px;
}

.circleContainer{
  padding-left: 20px;
  display:flex;
  justify-content: flex-left;
  marginTop: 20px;
}

.containerIphone{
  padding-top: 30px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  'align-items': 'center',
  'align-content':'center'
}


.dot {
  height: 10px;
  width: 1px;
  background-color: 'white';
  border-radius: 50%;
  display: inline-block;
}

.square {
  background: #fff;
  border: 0px solid #999;
  padding: 0;
  text-align: center;
}

.projects {
  background: #fff;
  border: 0px solid #fff;
  padding: 0;
  text-align: center;
  transform: scale(1);
  -webkit-animation-name: example;
}
@keyframes example {
    0%   { transform: scale(0.1)}

    50%  {transform: scale(1)}

    100% {transform: scale(0.1)}
}

.image {
  align-self: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.circle {
  padding: 2px 2px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff ;
  background-color:#ffffff ;
  border: none;
  border-radius: 100px;
  box-shadow: .5px .5px .5px .5px #999;

}

.circle:hover {background-color: #0029FF}

.circle:active {
  background-color: #0029FF;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
