

.container{
  padding-top: 30px;
  display:flex;

  justify-content: flex-left;
  marginTop: 20px;

}

.containerIphone{
  padding-top: 30px;
  display:flex;
  flex-direction:column;
  justify-content: center;

  'align-items': 'center',
  'align-content':'center'

}


.dot {
  height: 10px;
  width: 1px;
  background-color: 'white';
  border-radius: 50%;
  display: inline-block;
}

.square {
  background: #fff;
  border: 0px solid #999;
  padding: 0;
  text-align: center;
}

.image {
  align-self: center;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
